@charset "UTF-8";

// Liste des variables

$font-weight-extra-bold : 900;
$font-weight-bold : 700;
$font-weight-semi-bold : 600;
$font-weight-medium : 500;
$font-weight-normal : 400;
$font-weight-light : 300;
$font-weight-thin : 100;
$default-font-size: 14px;
$default-font-family: 'Roboto', sans-serif;
$default-color : #000000;
$default-text-color: #000000;

$bg-color-1: #00baeb;
$bg-color-2: #24272e;
